html {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    font-family: monospace;

    header,
    footer {
      left: 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
    }

    header {
      position: fixed;
      top: 0;
      z-index: 1600;
      height: 60px;
      line-height: 60px;
    }

    footer {
      position: absolute;
      bottom: 0;
      height: 30px;
      line-height: 30px;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}
