div.scene_1(data-sll-start="1" data-sll-life="4")
  img.tree(src="images/tree.png")
  img.zombie_0(src="images/zombie_0.png" data-sll-start="1")
  img.zombie_1(src="images/zombie_1.png" data-sll-start="2" data-sll-life="1")
  img.zombie_2(src="images/zombie_2.png" data-sll-start="2" data-sll-life="1")